<div>
    <h1> Welcome to WikiGiphy </h1>
    <h2> A combination of Wiki and Giphy!</h2>
</div>


<form (ngSubmit)="search()">
  <div class = "form-group">
    <label for="searchInput"> Search </label>
    <input type="text" class = "form-control" id = "searchInput" 
            required
            [(ngModel)]="this.searchInput" name = "searchInput">
    <button type = "submit" class = "btn btn-success"> Submit</button>
  </div>
</form>

<div *ngIf="wikiResults" class = "wikiContainer">
  <h1> Wiki Results </h1>
  <div *ngFor="let result of wikiResults">
    <h3>{{result}}</h3>
  </div>
</div>

<div *ngIf="giphyResults" class = "giphyContainer">
  <h1>Giphy Results</h1>
  <img *ngFor = "let result of giphyResults" src = "{{result}}">
</div>

